.el {
    padding: 15px 35px;
    font-size: 21px;
    color: #bec2c563;
    background: lightblue;
    border: 2px dashed #aaa;
 }
 .container {
    display: grid;
    grid-template-columns: 50fr;
    grid-template-rows: 1fr 2fr;
 }
 #ingredients{
    border: 1px black solid;
    border-radius: 1%;
    background-color: rgba(245, 226, 25, 0.496);
 }
 #edamam-badge{
display: flex;
justify-content: center;
 }
