
.el {
    padding: 15px 35px;
    font-size: 21px;
    color: #056ebf;
    background: rgb(255, 255, 255);
    border: 2px dashed #aaa;
 }
 .container {
    display: flex;
    justify-content: center;
   flex-direction: column;
 }

 #edamam-badge{
display: flex;
justify-content: center;
 }
 #AnalysisForm{
height: 60px;
 }


